# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CGamza.iml
# Datasource local storage ignored files
/../../../../../../../:\Dev\cs\CGamza\.idea\.idea.CGamza\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
